.container {
  margin: 5px;
  padding: 5px;
}

.title {
  display: flex;
  justify-content: center;
  color: rgb(255, 162, 0);
  font-size: 14px;
}

.btn-go-study {
  background-color: aquamarine;
  border-radius: 40px;
}

.ayat-dnya {
  background-color: rgb(0, 255, 94);
  border-radius: 40px;
}

.tarif {
  list-style-type: none;
  height: 300px;
  width: 300px;
  padding: 15px;
  margin: 15px;
  background-color: rgb(255, 183, 0);
  border-radius: 50px;
}
